<head><link href='css/style.css'></head><body><a class="chapter-title" title="Vũ Thần Chúa Tể - Chương 2000: Thứ hai thân thể"><span class="chapter-text"><span>Chương </span></span>2000: Thứ hai thân thể</a>
<p></p>
<p>Dị Ma Tộc phân thân?</p>
<p>Tần Trần kinh ngạc, còn có chút thao tác? Hắn chỉ là bản năng không muốn để cho này ký sinh hạt giống chạy trốn mà thôi.</p>
<p>Nhưng Lão Nguyên lại kích động nói: “Không sai, chính là Dị Ma Tộc phân thân, hơn nữa còn là hoàn mỹ nhất phân thân. Ký sinh hạt giống chính là Hỗn Độn Ma Sào tạo ra, đặc biệt kim sắc hạt giống, đúng hoàn mỹ nhất thiên địa dị chủng, có mạnh nhất Dị Ma Tộc thiên phú, đây cũng là kim sắc ký sinh hạt giống tại Dị Ma đại lục được xưng là Ma Chủ cơ duyên nguyên nhân chỗ, chỉ cần ngươi có khả năng đem mai ký sinh hạt giống hóa thành bản thân một cái phân thân, là được có hai cỗ nhục thân, tạo hóa vô hạn.”</p>
<p>“Người thường có lẽ không cách nào làm đến, nhưng ngươi lúc trước đã làm đến linh hồn hai phần, phân biệt đại diện hai cái bất đồng đơn lẻ, có thể đơn độc tồn tại.”</p>
<p>Lão Nguyên thậm chí so Tần Trần còn kích động hơn.</p>
<p>“Nghĩ không ra này ký sinh hạt giống còn có bực này công dụng?”</p>
<p>Tần Trần ngoài ý muốn, Dị Ma Tộc phân thân, Tần Trần chỉ là ngẫm lại, liền không hiểu kích động, nếu như mình thật có một chỗ Dị Ma Tộc phân thân, không chỉ có có khả năng đánh vào Dị Ma Tộc bên trong, cũng đại diện bản thân nhiều một cái mạng.</p>
<p>Tốt như vậy sự tình, sao có thể bỏ qua?</p>
<p>“Làm như thế nào?” Tần Trần lập tức hỏi.</p>
<p>“Trước đem này ký sinh hạt giống bản thân ý chí ma diệt.” Lão Nguyên nói.</p>
<p>Ma diệt ý chí sao?</p>
<p>Tần Trần mắt sáng lên, trước tiên thôi động Thanh Liên Yêu Hỏa, tức khắc một mảnh màu xanh biển lửa, là ký sinh hạt giống bao vây, thống khổ giãy dụa cùng gào thét, phảng phất tối đen như mực ác, đang vặn vẹo.</p>
<p>“Bằng vào Thanh Liên Yêu Hỏa còn chưa đủ!”</p>
<p>“Lôi Đình huyết mạch!”</p>
<p>“Hủy diệt chi lực!”</p>
<p>Tần Trần thôi động huyết mạch, tức khắc kinh khủng huyết mạch hóa thành lôi quang, là ký sinh hạt giống bao vây, đen nhánh kia hạt giống thống khổ giãy dụa, tả xung hữu đột, muốn chạy ra Tần Trần vây quanh, thế nhưng thoát khỏi Tần Trần linh hồn hải sau, đơn thuần ký sinh hạt giống làm sao có thể đúng Tần Trần đối thủ, tại Thanh Liên Yêu Hỏa liên tục ma diệt xuống, ký sinh hạt giống trong một cỗ bản năng “Ác” tức khắc kêu thảm hôi phi yên diệt.</p>
<p>Trong hư không, một hạt giống tại huyền phù, nhìn kỹ lại, viên này hạt giống ẩn chứa vô hạn khả năng, phảng phất là thiên địa hoá thân, hoặc như là quy tắc vật dẫn.</p>
<p>“Hiện tại dùng ngươi linh hồn phân thân đi dung nhập hạt giống này, trở thành ngươi một chỗ phân thân.” Lão Nguyên lại nói.</p>
<p>Vù vù!</p>
<p>Tần Trần trong đầu hình người linh hồn chi lực trong nháy mắt phân liệt ra đến, đây là Thiên Hồn Cấm Thuật, cũng nhiều thua thiệt Tần Trần trước kia liền tu luyện thành Thiên Hồn Cấm Thuật đệ nhất trọng, linh hồn hai phần, bằng không nếu là hiện tại lại tiến hành tu luyện, tất nhiên không kịp.</p>
<p>Ký sinh hạt giống một khi mất đi linh hồn, ở giữa phiến thiên địa này thời gian tồn tại không nhiều, nếu là không kịp thời đoạt xá, rất nhanh liền sẽ tan rã tại thiên địa, bị quy tắc đồng hóa.</p>
<p>Một đạo hư vô hình người hư ảnh theo Tần Trần trong thân thể đi tới, vù vù, hướng về phía ký sinh hạt giống vừa sải bước ra, nhưng ký sinh hạt giống cũng là vô hạn lùi lại, hóa thành một cái điểm nhỏ.</p>
<p>Không gian quy tắc?</p>
<p>Tần Trần không khỏi kinh ngạc, không phải nói ký sinh hạt giống đã mất đi ý thức, chỉ là một chỗ vật dẫn sao?</p>
<p>“Không nên bị ngoại vật làm cho mê hoặc, nghe tiếng lòng.” Lão Nguyên nói ra.</p>
<p>Tần Trần gật đầu, hắn nhắm mắt lại, đóng linh hồn cảm nhận, dùng tâm đi nhìn.</p>
<p>Tức khắc, hắn phát hiện mình con mắt cùng cảm nhận xác định lừa gạt mình, bởi vì ký sinh hạt giống rõ ràng vẫn còn ở chỗ cũ, căn bản không có xuất hiện tại vô hạn nơi xa, hắn tiếp tục đi tới, sau đó, như đồng tâm ma hàng lâm, trong lòng có vô số mơ màng, muốn đem tâm hắn Linh đánh tan.</p>
<p>Đây là ký sinh hạt giống bản năng phản kháng, đem người ác tâm, vô hạn phóng đại.</p>
<p>Tức khắc, gió núi gào thét, có Tử Vong Hạp Cốc trước nguy cơ trùng trùng, Thượng Quan Hi Nhi cùng Phong Thiếu Vũ ngửa mặt lên trời cười to, ánh mắt dữ tợn.</p>
<p>Có mẫu thân Tần Nguyệt Trì sắp chết ánh mắt, tại đại lục nơi nào đó sa vào nguy cảnh, tuyệt vọng cầu sinh, sở dĩ hắn khổ sở lục soát không tìm được.</p>
<p>Có tuyệt sắc thiên tiên mỹ nữ mê hoặc, vô số người mặc tơ lụa, sa mỏng tóc đen nữ tử, trần truồng * đi tới, diễm lệ bách mị.</p>
<p>Còn có đại lục cao nhất bảo tọa, cầm chưởng thiên địa vạn vật, trong nháy mắt sinh tử.</p>
<p>Thậm chí có Dị Ma Tộc hàng lâm đại lục, hủy diệt hết thảy, để cho Thiên Vũ Đại Lục sa vào trọn đời trầm luân, tạo thành trời long đất lở giống như ngày tận thế cảnh tượng.</p>
<p>Nhưng Tần Trần chỉ là khẩn thủ bản tâm, không động tâm vì ngoại vật đong đưa.</p>
<p>Hơn trăm bước sau, hắn rốt cục đi tới ký sinh hạt giống trước mắt.</p>
<p>Hắn đưa tay ra, đưa tay đè vào ký sinh hạt giống ở trên tức khắc, biến hóa nảy sanh.</p>
<p>Ký sinh hạt giống bỗng dưng bành trướng, hóa thành chi chít lỗ nhỏ, như là ma phương, ở ngay tại sao trong nháy mắt mà thôi, phảng phất hóa thành còn lớn hơn cả đất trời.</p>
<p>Không, mỗi một cái lổ nhỏ tựu như cùng một vùng thế giới, dung nạp hết thảy, mỗi một cái lổ nhỏ chính là nhất đạo quy tắc, diễn sinh vạn vật.</p>
<p>Tần Trần có một loại minh ngộ, ký sinh hạt giống có thể sinh ra vô hạn quy tắc, hoá thân một phương vũ trụ.</p>
<p>Ngay tại lúc tiếp theo trong nháy mắt, ký sinh hạt giống lại vô cùng thu nhỏ lại, biến phải so mũi châm còn cặn kẽ, hóa thành bụi, nhưng vẫn là từ vô số lỗ nhỏ cấu thành.</p>
<p>Lớn nhỏ tùy tâm, biến hóa vô hạn.</p>
<p>Đây là Hỗn Độn Ma Sào đản sinh ra bản nguyên nhất hạch tâm, có thể coi xem như một hạt giống, tự nhiên nhóc đáng thương, nhưng hạt giống phát triển, nhưng có thể dài ra một cái toàn tân thế giới tới.</p>
<p>Tần Trần vừa dùng tâm lĩnh hội, một bên phóng thích bản thân lực lượng linh hồn tiến nhập trong, lấy để cho ký sinh hạt giống nhận chủ, hóa thành một thể.</p>
<p>Ký sinh hạt giống lại lần nữa theo cực nhỏ trở nên lớn, hóa thành Tần Trần người bình thường hình, là Tần Trần một nửa linh hồn trong nháy mắt bao vây đi vào, sau đó không lại biến hóa, hoàn toàn tĩnh mịch.</p>
<p>Nhưng mà, tại ký sinh hạt giống bên trong, lại có nghiêng trời lệch đất biến hóa, vô số quy tắc dũng mãnh tràn vào Tần Trần chia ra linh hồn thể trong, một loại mới sinh lực lượng, tại Tần Trần trong thân thể hồi phục.</p>
<p>Đây là sinh lực số lượng, cũng là sơ.</p>
<p>Cuối cùng, ký sinh hạt giống chậm rãi nhúc nhích, trở thành một cái khác Tần Trần, nhìn qua cùng Tần Trần dung mạo cực kỳ cùng loại, lại có Dị Ma Tộc đặc biệt đặc thù và khí chất.</p>
<p>“Thành công!” Lão Nguyên kích động nói.</p>
<p>Một bên Tần Trần cũng rốt cục thở phào, hai cỗ Tần Trần lộ ra đồng dạng biểu tình.</p>
<p>“Tần tiểu tử, cảm giác như thế nào?” Lão Nguyên cười rộ lên: “Ký sinh hạt giống mặc dù là ngươi phân thân, nhưng thực tế lại cùng ngươi nhất thể, thông qua ký sinh hạt giống chế tạo ra phân thân, vĩnh viễn không cần lo lắng sẽ phản kháng, thoát khỏi ngươi chưởng khống, ngươi nên có thể cảm nhận được, ngươi linh hồn tuy là một phân thành hai, nhưng thật vẫn là cái kia một.”</p>
<p>“Phân thân còn có thể phản kháng?” Tần Trần kinh ngạc.</p>
<p>“Đây là tự nhiên.” Lão Nguyên giải thích: “Tại chúng ta Dị Ma đại lục, một ít cường giả cấp cao nhất có thể lợi dụng bổn nguyên chế tạo phân thân, sau đó là linh hồn ý chí lạc ấn trong, tạo thành độc lập đơn lẻ.”</p>
<p>“Loại này phân thân tuy là nghe theo bản thể mệnh lệnh, nhưng giữa hai cái, đúng đơn độc tư duy.”</p>
<p>“Nếu là phân thân mạnh mẽ quá đáng, tại bản thể ngoài ý dưới tình huống, phân thân khả năng thoát khỏi chưởng khống.”</p>
<p>“Ta Dị Ma đại lục, liền phát sinh qua như vậy sự tình: Đã từng thoát khỏi một vị cường giả phân thân, nghìn năm sau trở về, thí sát bản thể, là thay thế.”</p>
<p></p></body>