<head><link href='css/style.css'></head><body><a class="chapter-title" title="Vũ Thần Chúa Tể - Chương 2438: Thánh Chủ khí tức"><span class="chapter-text"><span>Chương </span></span>2438: Thánh Chủ khí tức</a>
<p></p>
<p>"Vậy phải làm sao bây giờ mới tốt ?"</p>
<p>Tần Ma cau mày , mất đi Ma Đạo khí tức chỉ dẫn , muốn hắn ở mảnh này Thần Cấm Chi Địa trong tìm được hai người , không khác biển rộng tìm kim .</p>
<p>Mà đúng lúc này , đột nhiên , Tần Ma nơi tim Hỗn Độn Ma Sào chấn động mạnh một cái .</p>
<p>Nơi này có hấp dẫn Hỗn Độn Ma Sào đồ đạc .</p>
<p>Tần Ma vội vàng quay đầu , nhìn về phía nơi xa hư vô , hắn mơ hồ cảm giác được , chỗ ấy dường như có tức giận gì hơi thở , đột nhiên tiết lộ ra ngoài , bị Hỗn Độn Ma Sào cảm ứng được .</p>
<p>Tần Ma thân hình thoắt một cái , vội vàng đi tới vùng hư không đó phụ cận , mấy phen tìm sau , rốt cuộc tìm được cái này bí ẩn khí tức vị trí cụ thể . Đây là nhờ vào Tần Ma trong cơ thể có Hỗn Độn Ma Sào , bản thân là ký sinh hạt giống biến thành , đồng thời lấy được Uyên Ma chi chủ Ma Đạo truyền thừa , ba cái này hợp nhất mới làm được , nếu như như vậy yếu ớt Ma Đạo khí tức , đừng nói là hắn , coi như là nhất</p>
<p>Tên Địa Thánh Cảnh cao thủ tới trước , cũng chưa chắc có thể cảm ứng được .</p>
<p>"Ở nơi này mảnh đất ."</p>
<p>Tần Ma thân hình thoắt một cái , lập tức trốn vào mà , oanh , hắn đi vào , thân thể như là đổi thành tại hai cái bất đồng không gian một dạng, sau một khắc , hắn đã tới nhất mảnh Hắc Ám chi địa , từng cổ một đáng sợ ma khí ở chỗ này quanh quẩn .</p>
<p>"Chính là chỗ này ."</p>
<p>Tần Ma kinh hỉ nhìn về phía sâu trong bóng tối , nơi này ban nãy dường như còn có người đi qua , nhất định là Tư Tư các nàng , đồng thời trong bóng tối , từng cổ một đáng sợ Ma Đạo bản nguyên khí hơi thở đang điên cuồng tản mát .</p>
<p>Tần Ma nội tâm mang theo mừng như điên , vội vàng hướng Ma Đạo khí tức oanh nhiễu chỗ bạo lướt đi .</p>
<p>Mà ở Tần Ma lướt về phía sâu trong bóng tối thời điểm .</p>
<p>Bên trong chiến trường cổ .</p>
<p>Tần Trần nắm giữ liệt không thần ngân sau , tiếp tục đi tới .</p>
<p>Cũng không biết qua bao lâu .</p>
<p>Đột nhiên , phía trước có nhất luồng khí tức kinh khủng tới trước , kim sắc phù chỉ đột nhiên phát quang , một lần nữa xuất hiện tại Tần Trần trước người , đồng thời , kim sắc phù chỉ run nhè nhẹ , chỉ dẫn Tần Trần đi trước .</p>
<p>"Tần Trần tiểu tử , nơi này khí tức dường như có cái gì không đúng , ngươi phải cẩn thận một chút ." Đại Hắc Miêu ngưng trọng thanh âm truyền đến .</p>
<p>Nơi này hư không biến phải vạn phần trầm trọng , dùng Tần Trần hiện tại tu vi , đi ở chỗ này thì dường như sa vào như vũng bùn , nếu như không phải kim sắc phù chỉ che chở , hắn nói không chừng đã bị khốn nơi này .</p>
<p>Nơi này cuối cùng là địa phương nào ? Sạch là quỷ dị hư không khí tức , để có phàm Thánh Cảnh tu vi Tần Trần nửa bước khó đi , bên trong cuối cùng có cái gì ?</p>
<p>Tần Trần trong lòng rùng mình , trong lòng biết bản thân cũng đã đến cực kỳ then chốt địa phương , trước tại nhìn thấy liệt không thần ngân thời điểm kim sắc phù chỉ cũng không có xuất hiện , mà bây giờ lại xuất hiện ở nơi này , đủ để chứng minh đốm .</p>
<p>"Ồ!"</p>
<p>Hắn về phía trước tiếp tục đi một đoạn , đột nhiên , Tần Trần dừng bước lại , phía trước xuất hiện một đạo hắc ảnh , như là một thanh lợi nhận , nghiêng cắm trên mặt đất .</p>
<p>Thứ gì ?</p>
<p>Tần Trần chú ý kế , đạo hắc ảnh kia cũng càng ngày càng rõ ràng , mà Tần Trần biểu hiện trên mặt cũng càng ngày càng kinh ngạc , này không ngờ là thật sự một thanh lợi nhận , thế nhưng đã gảy mất , chỉ còn dư lại một đoạn a. Đoạn Nhận phía trên khắp nơi đều thấy lỗ thủng , có thể nhìn ra được , trước đây đây là một thanh chiến đao , tản ra xa thẳm sắc bén , nhưng trải qua chẳng biết bực nào đại chiến thảm thiết , chỉ còn dư lại một nửa , nghiêng cắm ở chỗ này , mấu chốt nhất là , tại đây Đoạn Nhận phía dưới</p>
<p>, một tia quỷ dị tuế nguyệt khí tức chảy xuôi , này một tia tuế nguyệt khí tức liên tục oanh nhiễu , tiêu tán ở trên hư không .</p>
<p>Đúng là này tản mát đi ra tuế nguyệt khí tức , bay về hướng nơi xa , tạo thành trước lối vào tuế nguyệt vòng xoáy .</p>
<p>Trong thiên địa quanh quẩn một cổ Tuế Nguyệt Chi Lực .</p>
<p>Chuyện gì xảy ra ?</p>
<p>Kim sắc phù chỉ tại sao muốn đem hắn chỉ dẫn đến nơi đây ? Với lại chuôi này Đoạn Nhận vậy mà tản ra nhè nhẹ Tuế Nguyệt Chi Lực , chẳng lẽ nói Thần Cấm Chi Địa trong tuế nguyệt khí tức đều là này Đoạn Nhận phát ra sao?</p>
<p>Nhưng Đại Hắc Miêu nói , có thể tản mát ra Tuế Nguyệt Chi Lực , này Thần Cấm Chi Địa trong vô cùng có khả năng có thời gian bổn nguyên , nhưng này Đoạn Nhận hoàn toàn không có một chút thời gian bổn nguyên bộ dáng a .</p>
<p>Tần Trần đến gần một chút , vù vù , Đoạn Nhận đột nhiên phát ra nhất đạo ba động , trong hư không , một thanh hư vô chiến đao xuất hiện , này chiến đao thông thiên , phảng phất có thể chặt đứt thiên địa , khí thế thật đáng sợ , hướng về Tần Trần điên cuồng chém mà tới.</p>
<p>"Không được!"</p>
<p>Tần Trần kinh hãi , này chiến đao hư ảnh phóng xuất ra khí tức quá cường đại , so với trước kia Càn Nguyên Lượng mạnh đâu chỉ gấp trăm lần nghìn lần , dưới một kích này , Tần Trần phảng phất chứng kiến trời đất mở ra , phảng phất chứng kiến vũ trụ hủy diệt .</p>
<p>Một đao này nếu là chém trúng , dù chỉ là trăm triệu năm lưu lại khí tức , hắn cũng có bị trảm nổ thành hư vô , liền đường phản kháng cũng không có .</p>
<p>Thời khắc mấu chốt , kim sắc phù chỉ tức khắc phát quang , phóng lên cao , một vệt kim quang ngăn ở hư vô chiến đao trước , oanh 1 tiếng , hai cổ lực lượng va chạm , lập tức đem kia hư vô chiến đao ngăn cản xuống .</p>
<p>Vù vù!</p>
<p>Kim sắc phù chỉ phát quang , vô tận chiến ý sôi trào , phía trên từng cái cổ tự xuất hiện , mà Đoạn Nhận lại cũng rung động , song phương giằng co , phảng phất tiền sử đối thủ , lần thứ hai chạm mặt .</p>
<p>Trong hư không , nhất kim sắc Thông Thiên Phù văn hư ảnh xuất hiện , mà đối diện , là một thanh to lớn chiến đao hư ảnh , hào quang xông thẳng chín vạn dặm , bao phủ cao nhất hỗn độn khí hơi thở . chiến đao chỗ hổng trên , bắt đầu có đạo đạo kim quang hiện lên , cùng kim sắc phù chỉ khí tức quả thực giống nhau như đúc , mà phù văn màu vàng trên , cũng xuất hiện từng đạo vết trầy , những thứ này vết trầy Tần Trần trước căn bản không từng cảm giác được , nhưng bây giờ xuất hiện ,</p>
<p>Đồng dạng tản mát ra cùng trước mắt Đoạn Nhận một dạng khí tức sát phạt .</p>
<p>Tần Trần không khỏi hé miệng , chẳng lẽ nói , này kim sắc phù chỉ cùng chuôi này đoạn đao đã từng có giao thủ sao? Đồng thời tại hai bên trên thân lưu lại vết tích .</p>
<p>Thậm chí , một thanh này chiến đao sở dĩ rạn nứt , liền là năm đó bị này kim sắc phù chỉ chỗ chặt đứt , bằng không giải thích như thế nào chiến đao Đoạn Nhận chỗ lúc này tản mát ra phù văn màu vàng lực ?</p>
<p>Không phải là không có khả năng .</p>
<p>Này kim sắc phù chỉ lai lịch phi thường , thậm chí vượt xa phổ thông Thánh Cảnh vũ khí , hiển nhiên là thời đại viễn cổ cực kỳ khủng bố đồ đạc , mà Đoạn Nhận , ở lại Thần Cấm Chi Địa trăm triệu năm , cũng tới Lịch phi thường , hai cái trước không hẳn không có gì xích mích .</p>
<p>Thánh khí có chi linh , nhưng cái này chi linh , là chỉ thông linh , ủng có nhất định tự chủ lạc ấn , rất nhiều tình huống xuống, cũng không thể đản sinh ra hoàn chỉnh ý thức , nhưng kiếp trước có qua đại chiến , lại có thể tại thánh khí bên trong lưu lại kéo dài không đi ấn ký .</p>
<p>Mà đúng lúc này , kim sắc phù chỉ cùng hủy diệt chiến đao sau lưng , hai cái đồ sộ hư ảnh xuất hiện .</p>
<p>Đây là hai vị bóng người , căn bản thấy không rõ khuôn mặt cùng bộ dáng , phát ra khí tức , lại kinh sợ vạn cổ .</p>
<p>"Đây là . . . Thánh Chủ khí tức!" Đại Hắc Miêu đột nhiên nói ra .</p>
<p>Tần Trần vô cùng khiếp sợ , Thánh Chủ khí tức , này hai bóng người là Thánh Chủ ? Các loại , Thiên Vũ Đại Lục làm sao sẽ xuất hiện Thánh Chủ ? Chẳng lẽ này là năm đó Thần Cấm Chi Địa một hồi đáng sợ nhất đại chiến hình tượng ? Tần Trần nhớ rất rõ ràng , Chí Tôn Đao Đế từng nói qua , Thiên Vũ Đại Lục tại vô số năm trước , bởi vì là một món bảo vật , vô số Thiên giới cao thủ hàng lâm , ở chỗ này phát sinh đại chiến thảm thiết , thậm chí đem Thiên Vũ Đại Lục đều kém điểm đánh bạo , như vậy nơi này , chính là làm</p>
<p>Năm chiến trường hạch tâm chi địa ?</p>
<p>Như vậy năm đó bảo vật , hẳn là còn ở nơi này ?</p>
<p>Tần Trần tim đập loạn lên . Bảo vật ở địa phương nào ?</p>
<p></p></body>